{% extends "robot/robot_base.html.twig" %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('files/css/hover_effect.css')) }}">
{% endblock %}

{% block robot_content %}
    <div class="mt-4">
        <h5>Выберите одну проблему, которую вы хотели бы обсудить с нашим ботом-психологом.</h4>
    </div>

    <div class="row">
        {% for robot in robots %}
            <div class="col-sm-3">
                <div class="grid">
                    <figure class="effect-ming">
                        <img src="{{ absolute_url(asset('files/' ~ robot.previewImg)) }}" alt="img08"/>
                        <figcaption>
                            <h4>{{ robot.title }}</h4>
                            <p>перейти</p>
                            <a href="{{ url('robot.show', {slug: robot.slug}) }}">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
