{% extends "base.html.twig" %}

{# {% block content_title %}Консультации{% endblock %} #}

{% block content %}
<div class="row mb-5">
    <div class="col-sm-3">
        <div class="card text-center">
            <img src="{{ absolute_url(asset('files/images/consultations/korostileva.png')) }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Консультация по видео</h5>
                <div class="card-text">

                <ul style="list-style:none; padding: 0">
                    <li>Кристина Муховика</li>
                    <li>
                        <i class="fa-solid fa-clock"></i>
                        <span>55 мин</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-coins"></i>
                        <span>2 500 руб</span>
                    </li>
                </ul>
                </div>
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" >
            <img src="{{ absolute_url(asset('files/images/consultations/korostileva.png')) }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" >
            <img src="{{ absolute_url(asset('files/images/consultations/korostileva.png')) }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" >
            <img src="{{ absolute_url(asset('files/images/consultations/korostileva.png')) }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="card" >
            <img src="{{ absolute_url(asset('files/images/consultations/korostileva.png')) }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" >
            <img src="{{ absolute_url(asset('files/images/consultations/korostileva.png')) }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" >
            <img src="{{ absolute_url(asset('files/images/consultations/korostileva.png')) }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" >
            <img src="{{ absolute_url(asset('files/images/consultations/korostileva.png')) }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
