{% extends "base.html.twig" %}

 {% block content_title %}Консультации{% endblock %}

{% block content %}
    {% for consultations in consultationRows %}
        <div class="row mb-5">
            {% for consultation in consultations %}
                <div class="col-sm-3">
                    <div class="card text-center">
                        <img src="{{ absolute_url(asset('files/' ~ consultation.img)) }}"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ consultation.title }}</h5>
                            <div class="card-text">

                                <ul style="list-style:none; padding: 0">
                                    {% if consultation.psychologistProfile is not null %}
                                        <li>{{ consultation.psychologistProfile.firstName }} {{ consultation.psychologistProfile.lastName }}</li>
                                    {% endif %}

                                    {% if consultation.duration is not null %}
                                        <li>
                                            <i class="fa-solid fa-clock"></i>
                                            <span>{{ consultation.duration }} мин</span>
                                        </li>
                                    {% endif %}

                                    <li>
                                        <i class="fa-solid fa-coins"></i>
                                        <span>{{ consultation.price }} руб</span>
                                    </li>
                                </ul>
                            </div>
                            <a href="{{ url('consultations.show', { 'consultation' : consultation.id}) }}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
