{% extends "base.html.twig" %}

{% block content_title %}
Консультация по видео
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-4">
        <img src="{{ absolute_url(asset('files/' ~ consultation.img)) }}" style="width: 100%" alt="">
    </div>
    <div class="col-8">
        <div>
            <h3>
                Психолог:
                {% if consultation.psychologistProfile is not null %}
                    {{ consultation.psychologistProfile.firstName }} {{ consultation.psychologistProfile.lastName }}
                {% else %}
                    Случайный психолог
                {% endif %}
            </h3>
        </div>

        <div>

            {% if consultation.duration is not null %}
                <div>
                    <h3>
                        <i class="fa-solid fa-clock"></i>
                        <span>{{ consultation.duration }} мин</span>
                    </h3>
                </div>
            {% endif %}

            <div>
                <h3>
                    <i class="fa-solid fa-coins"></i>
                    <span>{{ consultation.price }} руб</span>
                </h3>
            </div>
        </div>
        <div>
            <button class="btn btn-primary">Добавить в корзину</button>
        </div>

        <div class="mt-3 mb-3">
            {{ consultation.description|raw }}
        </div>

        {% if consultation.psychologistProfile is not null and consultation.psychologistProfile.workWithProblems is not null %}
            <h5>Помогаю с проблемами:</h5>
            <ul>
                {% for problem in consultation.psychologistProfile.workWithProblems %}
                    <li>{{ problem.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if consultation.psychologistProfile is not null and consultation.psychologistProfile.dontWorkWithProblems is not null %}
            <h5>Не работаю с проблемами:</h5>
            <ul>
                {% for problem in consultation.psychologistProfile.dontWorkWithProblems %}
                    <li>{{ problem.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if consultation.psychologistProfile is not null %}
            <h5>Образование</h5>
            {{ consultation.psychologistProfile.education }}
        {% endif %}

        <div class="mt-3">
            <h3>Отзывы</h3>
            <div class="comment">
                <p class="d-flex justify-content-between"><span>Rebecca Flex.</span><span>13:23 21.02.2022<span></p>
                <p>HTML CSS saved us from a web disaster.HTML CSS saved us from a web disasterHTML CSS saved us from a web disasterHTML CSS saved us from a web disasterHTML CSS saved us from a web disasterHTML CSS saved us from a web disasterHTML CSS saved us from a web disasterHTML CSS saved us from a web disaster</p>
            </div>

            <div class="comment">
                <p class="d-flex justify-content-between"><span>Rebecca Flex.</span><span>13:23 21.02.2022<span></p>
                <p>No one is better than HTML CSS.</p>
            </div>

            <div class="comment">
                <div class="row justify-content-between">
                    <div class="col-6">
                        <span style="vertical-align: -webkit-baseline-middle;">Авторизуйтесь, чтобы оставить отзыв</span>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-primary">Авторизоваться</button>
                    </div>
                </div>
            </div>

            <div class="comment">
                <form action="#">
                    <textarea class="form-control" name="comment" cols="30" rows="4" placeholder="Введите отзыв..."></textarea>
                    <button class="btn btn-primary mt-2 float-end">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
