{% extends "base.html.twig" %}

{% block content_title %}
Консультация по видео
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-4">
        <img src="{{ absolute_url(asset('files/' ~ consultation.img)) }}" style="width: 100%" alt="">
    </div>
    <div class="col-8">
        <div>
            <h3>
                Психолог:
                {% if consultation.psychologistProfile is not null %}
                    {{ consultation.psychologistProfile.firstName }} {{ consultation.psychologistProfile.lastName }}
                {% else %}
                    Случайный психолог
                {% endif %}
            </h3>
        </div>

        <div>

            {% if consultation.duration is not null %}
                <div>
                    <h3>
                        <i class="fa-solid fa-clock"></i>
                        <span>{{ consultation.duration }} мин</span>
                    </h3>
                </div>
            {% endif %}

            <div>
                <h3>
                    <i class="fa-solid fa-coins"></i>
                    <span>{{ consultation.price }} руб</span>
                </h3>
            </div>
        </div>

        {% if app.session.get('cart') is null or app.session.get('cart')[app.request.attributes.get('consultation')] is not defined %}
            <div>
                <form action="{{ url('cart.add') }}" method="post">
                    <input type="hidden" name="consultation" value="{{ app.request.attributes.get('consultation') }}">
                    <button class="btn btn-primary" type="submit">Добавить в корзину</button>
                </form>
            </div>
        {% else %}
            <div class="alert mt-3 w-50" style="border: 2px solid #ff818b; background-color: #fff0f1;" role="alert">
                Товар добавлен в корзину
            </div>
        {% endif %}

        <div class="mt-3 mb-3">
            {{ consultation.description|raw }}
        </div>

        {% if consultation.psychologistProfile is not null and consultation.psychologistProfile.workWithProblems is not null %}
            <h5>Помогаю с проблемами:</h5>
            <ul>
                {% for problem in consultation.psychologistProfile.workWithProblems %}
                    <li>{{ problem.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if consultation.psychologistProfile is not null and consultation.psychologistProfile.dontWorkWithProblems is not null %}
            <h5>Не работаю с проблемами:</h5>
            <ul>
                {% for problem in consultation.psychologistProfile.dontWorkWithProblems %}
                    <li>{{ problem.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if consultation.psychologistProfile is not null %}
            <h5>Образование</h5>
            {{ consultation.psychologistProfile.education }}
        {% endif %}

        <div class="mt-3">
            <h3>Отзывы ({{ consultation.comments|length }})</h3>

            {% for comment in consultation.comments %}
                <div class="comment">
                    <p class="d-flex justify-content-between">
                        <span>{{ comment.clientProfile.firstName }} {{ comment.clientProfile.lastName }}</span>
                        <span>{{ comment.createdAt|date('h:i d.m.Y') }}</span>
                    </p>
                    <p>{{ comment.comment }}</p>
                </div>
            {% endfor %}

            {% if app.request.session.has('auth') %}
                <div class="comment">
                    <form action="{{ url('consultations.addComment', {consultation: app.request.attributes.get('consultation') }) }}" method="post">
                        <textarea class="form-control" name="comment" cols="30" rows="4" placeholder="Введите отзыв..."></textarea>
                        <button class="btn btn-primary mt-2 float-end">Добавить</button>
                    </form>
                </div>
            {% else %}
                <div class="comment">
                    <div class="row justify-content-between">
                        <div class="col-6">
                            <span style="vertical-align: -webkit-baseline-middle;">Авторизуйтесь, чтобы оставить отзыв</span>
                        </div>
                        <div class="col-3">
                            <a href="{{ url('showAuthForm') }}" class="btn btn-primary">Авторизоваться</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
