{% extends "base.html.twig" %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('files/css/hover_effect.css')) }}">
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <form action="{{ url('articles.index') }}" class="col-4">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Поиск...">
                <button class="btn btn-primary" type="submit">Найти</button>
            </div>
        </form>
    </div>

    {% if articleRows[0] is empty %}
        <h4>Статьи не найдены</h4>
    {% else %}
        {% for articles in articleRows %}
            <div class="row">
                {% for article in articles %}
                    <div class="col-sm-3">
                        <div class="grid">
                            <figure class="effect-ming">
                                <img src="{{ absolute_url(asset('files/' ~ article.previewImg)) }}" alt="img08"/>
                                <figcaption>
                                    <h4>{{ article.title }}</h4>
                                    <p>читать</p>
                                    <a href="{{ url('articles.show', {slug: article.slug}) }}">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
