<ul class="nav flex-column nav-pills">
    <li class="nav-item">
        <a
            class="nav-link {{ app.request.requestUri|trim('/') is same as 'client' ? 'active' }}"
            aria-current="page"
            href="{{ url('client.show') }}"
            >Профиль</a>
    </li>
    <li class="nav-item">
        <a
            class="nav-link {{ 'edit' in app.request.requestUri ? 'active' }}"
            href="{{ url('client.edit') }}"
            >Редактировать профиль</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Робот-психолог</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ 'tests' in app.request.requestUri ? 'active' }}" href="{{ url('client.tests') }}">Пройденные тесты</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ 'orders' in app.request.requestUri ? 'active' }}" href="{{ url('client.orders') }}">Оформленные заказы</a>
    </li>
    <li class="nav-item mt-3">
        <a class="btn btn-primary w-100" href="{{ url('logout') }}">Выйти</a>
    </li>
</ul>
