{% extends "base.html.twig" %}

{% block content_title %}
Личный кабинет
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-3">
        {{ include('client/navbar.html.twig') }}
    </div>
    <div class="col-9">
        <p>
            <b>Имя:</b>
            {% if user.clientProfile.lastName is not null and user.clientProfile.firstName %}
                {{ user.clientProfile.lastName }} {{ user.clientProfile.firstName }} {{ user.clientProfile.patronymic }}
            {% else %}
                &mdash;
            {% endif %}
        </p>
        <p>
            <b>Пол:</b>
            {% if user.clientProfile is not null and user.clientProfile.gender is not null %}
                {{ user.clientProfile.gender is same as 'male' ? 'мужчина' : 'женщина'}}
            {% else %}
                &mdash;
            {% endif %}
        </p>
        <p>
            <b>Дата рождения:</b>
            {% if user.clientProfile is not null %}
                {{ user.clientProfile.dateOfBirth|date('Y-m-d') }}
            {% else %}
                &mdash;
            {% endif %}
        </p>
        <p>
            <b>E-mail:</b>
            {{ user.email }}
        </p>

        <h4 class="text-center">Психологические данные</h4>

        <p>
            <b>С кем проживаете:</b>
            {% if user.clientProfile is not null and user.clientProfile.liveWithType is not null %}
                {{ user.clientProfile.liveWithType.name }}
            {% else %}
                &mdash;
            {% endif %}
        </p>
        <p>
            <b>Семейное положение:</b>
            {% if user.clientProfile is not null and user.clientProfile.martialStatus is not null %}
                {{ user.clientProfile.martialStatus.name }}
            {% else %}
                &mdash;
            {% endif %}
        </p>
        <p>
            <b>Дети:</b>
            {% if user.clientProfile is not null %}
                {{ user.clientProfile.hasChildren ? 'да' : 'нет' }}
            {% else %}
                &mdash;
            {% endif %}
        </p>
        <p>
            <b>Чем занимаетесь в жизни:</b>
            {% if user.clientProfile is not null and user.clientProfile.workType is not null %}
                {{ user.clientProfile.workType.name }}
            {% else %}
                &mdash;
            {% endif %}
        </p>

        <h4 class="text-center">Медицинские данные</h4>

        <p>
            <b>Вес:</b>
            {% if user.clientProfile.weight is not null %}
                {{ user.clientProfile.weight }} кг
            {% else %}
                &mdash;
            {% endif %}
        </p>
        <p>
            <b>Рост:</b>
            {% if user.clientProfile.height is not null %}
                {{user.clientProfile.height}} см
            {% else %}
                &mdash;
            {% endif %}
        </p>
    </div>
</div>

{% endblock %}
